.comment
  margin-bottom: 1rem
  padding: 1rem
  background: #FFF
  border-radius: 8px
  color: #545454
  &__date
    font-size: 14px
    line-height: 24px
  &__body
    padding: 0 0 0 4.1rem
    margin-bottom: 0.5rem
  .author
    margin-bottom: 0.5rem
