.comment
  position: relative
  margin-bottom: var(--space-lg)
  padding: 1rem
  background: var(--bg-alt3)
  border-radius: var(--border-radius-large)
  color: var(--main-text-color)
  box-shadow: var(--shadow-small)
  &__date
    font-size: 14px
    line-height: 24px
  &__body
    margin: 0 0 0.5rem 3.8rem
    word-break: break-word
    white-space: pre-wrap
  .author
    margin-bottom: 0.5rem
  .likes__container
    margin-left: 3.8rem
