.friend-requests__notifications
  .notifications__item
    padding: 0.5rem
  .notifications__content
    display: flex
    align-items: center
    .blogggly-link
      font-size: 1rem
  .friend-request__action-btns
    margin-left: auto
