@import '../../sass/_mixins'

.create
  @include full-screen-min-height

.post-title
  font-weight: 600
  display: block
  padding: 1rem
  border-radius: var(--border-radius-medium)
  font-size: 18px
  font-family: inherit
  width: 100%
  background: var(--bg-alt3)
  color: var(--main-text-color)
  resize: none
  max-width: 100%
  min-width: 100%
  box-shadow: var(--shadow-small)
  border: 1px solid var(--border-color)
  outline-color: var(--main-purple)
  margin-bottom: var(--space-md)
  &::placeholder
    color: var(--color-text-secondary)
    font-weight: 400

.css-bg1rzq-control,
  border-color: var(--border-color)

.css-bgvzuu-indicatorSeparator
  background-color: var(--border-color) !important

.select-categories
  box-shadow: var(--shadow-small)
  margin: 0 0 var(--space-md) !important
  > div
    border: 1px solid var(--border-color)
    border-color: var(--border-color)
    background-color: var(--bg-alt3) !important

.css-1okebmr-indicatorSeparator
  background-color: var(--border-color) !important

.quill
  border-radius: var(--border-radius-medium)
  background: var(--bg-alt3)
  box-shadow: var(--shadow-small)

.ql-snow .ql-picker-options,
.css-bg1rzq-control
  background: var(--bg-alt3) !important

.ql-snow .ql-picker.ql-expanded .ql-picker-options
  color: var(--main-text-color)

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label
  border-color: var(--border-color) !important

.ql-toolbar.ql-snow, .ql-container.ql-snow
  border: 1px solid var(--border-color)

.ql-active
  color: var(--main-text-color) !important

.ql-stroke-miter
  stroke: var(--main-text-color) !important
  &:hover
    stroke: var(--main-text-color) !important

.ql-snow .ql-stroke
  stroke: var(--text-alt2)

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter
  stroke: var(--main-text-color)

.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill
  fill: var(--main-text-color)

.ql
  &-editor
    font-size: 18px
    min-height: 250px
    background: var(--bg-alt3)
  &-toolbar
    font-family: inherit
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  &-container
    color: var(--main-text-color)
    font-family: inherit
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    overflow: hidden

.ql-editor.ql-blank::before
  color: var(--color-text-secondary)

.ql-snow .ql-editor blockquote
  padding: 0.5rem 1rem
  border-color: #706acf

.select-categories
  margin: 1rem 0
  &:focus
    outline-color: var(--bg-primary)

.react-select__control
  box-shadow: 0 0 1px var(--bg-primary) !important
  &:hover
    border-color: var(--main-purple) !important

.react-select__value-container
  padding: 0.5rem
  font-size: 14px
  height: 50px
  &:focus, &:hover
    outline-color: var(--main-purple)

.btn.create-post__btn
  display: block
  margin: 2rem 0 2rem auto

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected
  color: var(--main-text-color) !important
