.post-title
  padding: 1rem
  margin-bottom: 1rem
  background: #FFF
  border-radius: 8px
  outline: none
  font-size: 20px
  font-family: inherit
  width: 100%
  color: #545454
  resize: none
  max-width: 100%
  min-width: 100%

.quill
  margin-bottom: 1rem
  border-radius: 8px

.create-post__btn
  margin-left: auto
  display: block

.ql
  &-editor
    background: #FFF
    font-size: 18px
    min-height: 250px
  &-toolbar
    background: #FFF
    font-family: inherit
    border-top-left-radius: 8px
    border-top-right-radius: 8px
  &-container
    color: #545454
    font-family: inherit
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
    overflow: hidden

.ql-snow .ql-editor blockquote
  padding: 0.5rem 1rem
  border-color: #706acf
