.create
  
.post-title
  font-weight: 600
  display: block
  padding: 1rem
  background: #FFF
  border-radius: 5px
  outline: none
  font-size: 20px
  font-family: inherit
  width: 100%
  color: var(--main-text-color)
  resize: none
  max-width: 100%
  min-width: 100%

.quill
  border-radius: 5px

.ql
  &-editor
    background: #FFF
    font-size: 18px
    min-height: 250px
  &-toolbar
    background: #FFF
    font-family: inherit
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  &-container
    color: var(--main-text-color)
    font-family: inherit
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    overflow: hidden

.ql-snow .ql-editor blockquote
  padding: 0.5rem 1rem
  border-color: #706acf

.select-categories
  margin: 1rem 0

.btn.create-post__btn
  display: block
  margin: 2rem 0 2rem auto
