.input
  border: none
  font-size: 1rem
  padding-left: 0.5rem
  width: 100%
  height: 45px
  border-radius: 5px
  color: var(--main-text-color)
  &--with-icon
    padding-left: 2.5rem
  &__wrapper
    margin-top: 0.5rem
  &__container
    position: relative
    display: flex
    align-items: center
  &__icon, &__valid, &__invalid
    position: absolute
  &__valid, &__invalid
    right: 10px
  &__icon
    left: 10px
    color: #4d537b
  &__valid
    color: #2be000
  &__invalid
    color: #e00000

.tooltip
  position: absolute
  right: 40px
  &:hover
    .tooltip__text
      display: block
  &__icon
    display: block
    color: rgba(0, 0, 0, 0.75)
  &__inner
    position: relative
    right: 8.5px
    top: -25px
  &__text
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: -69px
    width: 200px
    background: rgba(0, 0, 0, 0.75)
    display: none
    font-size: 10px
    padding: 0.5rem
    &:after
      position: absolute
      top: 58px
      right: 83px
      content: ' '
      border-color: rgba(0, 0, 0, 0.85) transparent
      border-style: solid
      border-width: 10px 10px 0px 10px
      height: 0px
      width: 0px
