.user-profile
  &__sidebar
    overflow: hidden
    flex: 0 0 200px
    background: #000
    border-radius: 5px
    margin-right: 1rem
    cursor: pointer
    background: #FFF
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
  &__menu
    &-item
    &-link
      font-weight: 600
      display: block
      padding: 0.7rem 1.5rem
      transition: all 150ms
      &:hover, &:active, &--active
        color: #FFF
        background: var(--nav-bg-color)
        color rgba(255, 255, 255, 0.1)
