.user-profile
  &__sidebar
    overflow: hidden
    flex: 0 0 200px
    color: var(--main-text-color)
    background: var(--bg-alt3)
    border-radius: var(--border-radius-large)
    margin-right: 1rem
    cursor: pointer
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
  &__menu
    &-item
    &-link
      font-weight: 600
      display: block
      padding: 0.7rem 1.5rem
      color: var(--main-text-color)
      transition: all 150ms
      &:hover, &:active, &--active
        color: #FFF
        background: #8148f6
        
