*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  letter-spacing: 0.5px
  background: #eee
  padding-top: 60px
  overflow-x: hidden

button
  cursor: pointer

button, input
  font-family: inherit

ul
  list-style: none

.btn
  height: 50px
  padding: 0 2rem
  font-size: 18px
  background: none
  border: none
  outline: none
  border-radius: 5px
  transition: background 150ms, color 150ms
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3)
  color: #FFF
  &--default
  &--primary
    background: #716bcc
    &:hover
      background: #57539e
    &:active
      background: #44417d
  &--secondary
  &--danger
