*
  margin: 0
  padding: 0
  box-sizing: border-box

\:root
  font-size: 18px
  --main-text-color: #545454
  --nav-bg-color: #5a5c73
  --green: #1ab181
  --light-green: #29ffb9
  --light-black: #565656
  --body-bg-color: #f3f3f3

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: 'Montserrat', sans-serif
  letter-spacing: 0.5px
  background:  var(--body-bg-color)
  color: var(--main-text-color)
  padding-top: 100px
  overflow-x: hidden
  line-height: 1.6

a
  text-decoration: none

button
  cursor: pointer

button, input, textarea
  font-family: inherit
  font-size: inherit
  
ol
  padding-left: 1rem

ul
  list-style: none

.icon
  font-size: 1.25rem
  padding: 0.3rem 0
  margin-right: 0.5rem

.heart
  color: #ef1717

.btn
  font-size: 1rem
  display: inline-block
  height: 50px
  padding: 0 1.5rem
  font-weight: 600
  background: none
  border: none
  outline: none
  border-radius: 5px
  transition: background 150ms, color 150ms
  &--default
    color: var(--main-text-color)
    &:hover
      background: #dedede
  &--primary
    color: #FFF
    background: #716bcc
    box-shadow: 0 9px 10px -8px #3c3b5d
    &:hover
      background: #57539e
    &:active
      background: #44417d
  &--secondary
    color: #FFF
  &--success
    color: #FFF
    background: #1cbf8b
    &:hover, &:active
      background: #14966e
  &--danger
    color: #FFF
    background: red
  &--sm
    border-radius: 3px
    padding: 0 0.5rem
    height: 30px
    font-size: 0.8rem

.trash-btn
  background: none
  color: #ef1717
  outline: none
  border: none
  font-size: 20px
  padding: 0.1rem
