*
  margin: 0
  padding: 0
  box-sizing: border-box

\:root
  --border-radius-none: 0
  --border-radius-small: 2px
  --border-radius-medium: 4px
  --border-radius-large: 6px
  --border-radius-rounded: 50%

  --button-bg-primary: #5941A9
  --button-bg-primary-light: #7659d6
  --button-bg-primary-dark: #4d3a8e

  --button-bg-danger: #a50000

  --main-purple: #8148f6

  --bg-alt: #f0e8ff
  --bg-alt2: #eae0ff
  --bg-alt3: #FFF
  --bg-alt4: #272629
  --body-bg-color: #fbfbfb
  --body-text-color: #19171c
  --divider-color: #cecece
  --text-color-alt: #FFF
  --text-color-alt2: #FFF
  --text-color-alt3: #FFF
  --text-color-colored: #2e6c73
  --nav-bg-color: #8148f6
  --nav-link-color: #ababab
  --nav-link-color-active: #FFF
  --main-link-color: #755ad0
  --text-title-color: #8148f6
  --border-color: #c5c5c5
  --bg-primary: #1cbf8a
  --color-text-secondary: #ababab

  // --nav-bg-color: #5a5c73

  // --link-color:
  // --link-color-active:

  // --green: #1ab181
  // --light-green: #29ffb9
  // --light-black: #565656
  // --body-bg-color: #f3f3f3
  // --main-link-color: #716bcc
  &.dark-theme
    --bg-alt: #444048
    --bg-alt2: #43404a
    --bg-alt3: #322f37
    --body-bg-color: #0f0e11
    --main-text-color: #f8f8f8
    --divider-color: #4a4a4a
    --nav-bg-color: #232323
    --nav-link-color: #ababab
    --nav-link-color-active: #FFF
    --border-color: #4a4a4a
    --main-link-color: #00ffa3
    --text-title-color: #00ffa3
    --bg-primary: #8148f6
    --color-text-secondary: #b3b3b3
    --text-alt: #FFF
    --text-alt2: #8a8a8a
    --text-alt3: #8a8a8a

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: 'Montserrat', sans-serif
  background: var(--body-bg-color)
  color: var(--main-text-color)

a
  text-decoration: none

button
  cursor: pointer

button, input, textarea
  font-family: inherit
  font-size: inherit
  
ol
  padding-left: 1rem

ul
  list-style: none

::placeholder
  color: var(--color-text-secondary)

::selection
  background: #7659d6
  color: #FFF

.dark-theme
  .input, .textarea
    background: var(--bg-alt3)
    caret-color: var(--color-text-secondary)
    color: var(--main-text-color)
    outline-color: var(--bg-primary)
    
.textarea
  padding: 1rem

.simplebar-scrollbar
  &::before
    background: var(--text-color-alt)
    border-radius: 6px
    overflow: hidden
    opacity: 1 !important

.simplebar-track
  color: red
  background: var(--bg-alt)

.main
  padding-top: 4rem
  max-height: calc(100vh - 80px)

.icon
  font-size: 1.25rem
  padding: 0.3rem 0
  margin-right: 0.5rem

.link
  cursor: pointer
  font-weight: 600
  color: var(--main-link-color)
  border: none
  background: none
  outline: none
  transition: 100ms opacity
  &:hover
    opacity: 1
  &--inactive
    opacity: 0.5

.heart
  color: #ef1717

.btn
  font-size: 1rem
  display: inline-block
  height: 50px
  padding: 0 1.5rem
  font-weight: 600
  background: none
  border: none
  outline: none
  border-radius: 5px
  transition: background 150ms, color 150ms
  &--default
    color: var(--main-text-color)
    &:hover
      background: #dedede
  &--primary
    color: #FFF
    background: var(--button-bg-primary-light)
    box-shadow: 0 9px 10px -8px #3c3b5d
    &:hover
      background: var(--button-bg-primary)
    &:active
      background: var(--button-bg-primary-dark)
  &--secondary
    color: #FFF
  &--success
    color: #FFF
    background: #1cbf8b
    box-shadow: 0 9px 10px -8px #30b37f
    &:hover
      background: #14966e
    &:active
      background: #0f7556
  &--danger
    color: #FFF
    background: var(--button-bg-danger)
    box-shadow: 0 9px 10px -8px #790f06
    &:hover
      background: #b70d0d
    &:active
      background: #960b0b
  &--sm
    border-radius: 3px
    padding: 0 0.5rem
    height: 30px
    font-size: 0.8rem
