.showcase
  &__link
    display: block
    width: 48%
    text-decoration: none
    background: #FFF
    border-radius: 8px
  &__card
    height: 100%
    padding: 2rem
    color: #545454
    display: flex
    flex-direction: column
    > span
      display: inline-block
      font-size: 14px
      overflow: hidden
      margin-bottom: 1rem
  &__like
    margin-top: auto
    display: flex
    align-items: center

.card__title
  margin-bottom: 1rem
