.showcase
  &__card
    position: relative
    border-radius: var(--border-radius-large)
    background: var(--bg-alt3)
    padding: 1rem
    display: flex
    flex-direction: column
    align-items: flex-start
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
    .trash-btn
      margin-left: auto
    .blogggly-link
      color: var(--main-text-color)
      margin-bottom: 0.75rem
      width: 100%
    .tags
      &__link
        margin-bottom: 0.5rem
    &-title
      margin-bottom: 0.5rem
  &__feedback
    margin-right: 1rem
    display: flex
    align-items: center
    .heart
      cursor: default
      margin-right: 0.5rem
    &-count
      font-weight: 600
      font-size: 18px
  &__footer
    width: 100%
    margin-top: auto
    display: flex

.comments-icon
  color: var(--main-link-color)
