.home
  min-height: calc(100vh - 100px)
  &__header
    padding: 2rem 1rem
    background: #FFF
    border-radius: 5px
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
    .btn--success
      box-shadow: 0 9px 10px -8px #0a6d4d
  &__title
  &__subtitle
    display: inline-block
    margin: 2rem 3rem 4rem 0

.features
  display: flex
  justify-content: space-between
  padding: 2rem 0
  border-radius: 5px
  &__card
    border-radius: 5px
    padding: 1rem
    background: #FFF
    flex-basis: 32%
    text-align: center
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
  &-card
    &__icon
      display: inline-block
      margin: 0 auto
      height: 100px
      width: 100px
      margin-bottom: 1rem
