.home
  min-height: calc(100vh - 80px - 4rem)
  &__header
    padding: 4rem 2rem
    background: var(--bg-alt3)
    border-radius: var(--border-radius-medium)
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
    .btn--success
      box-shadow: 0 9px 10px -8px #0a6d4d
  &__title
  &__subtitle
    display: inline-block
    margin: 2rem 3rem 4rem 0

.dark-theme
  .home__header
    border: 1px solid var(--border-color)
  .features__card
    border: 1px solid var(--border-color)

.features
  display: flex
  justify-content: space-between
  padding: 4rem 0
  border-radius: var(--border-radius-medium)
  &__card
    padding: 3rem
    border-radius: var(--border-radius-medium)
    background: var(--bg-alt3)
    flex-basis: 32%
    text-align: center
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
  &-card
    &__icon
      display: inline-block
      margin: 0 auto
      height: 100px
      width: 100px
      margin-bottom: 1rem
