.message
  &__container
    font-size: 14px
    margin-bottom: 1rem
    background: #FFF
    border-radius: 5px
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
  &__from
    color: #716bcc
    font-weight: 600
    display: inline-block
    margin-right: 0.5rem
  &__wrapper
    padding: 0.5rem
    cursor: pointer
    &:hover
      background: rgba(255, 255, 255, 0.1)
  &__date
    font-size: 12px
    font-style: italic
    display: inline-block
    margin-left: 0.5rem
  &__actions
    padding: 0.2rem 0.5rem
  &__btn
    margin-right: 0.3rem
    font-size: 18px
    padding: 0.2rem
    border: none
    outline: none
    background: none
