.message
  &__container
    margin-bottom: 1rem
    background: #FFF
    border-radius: 5px
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
  &__from
    color: var(--main-link-color)
    font-weight: 600
    display: inline-block
    margin-right: 0.5rem
  &__wrapper
    padding: 0.5rem
    cursor: pointer
    &:hover
      background: rgba(255, 255, 255, 0.1)
  &__date
    font-size: 12px
    font-style: italic
    display: inline-block
    margin-left: 0.5rem
  &__actions
    display: flex
    padding: 0.2rem 0.5rem
    .fa-trash, .fa-flag
      color: #ef1717
    .fa-bookmark
      color: #1cbf8a
    .fa-reply
      color: var(--green)
  &__btn
    margin-right: 0.5rem
    font-size: 18px
    padding: 0.2rem
    border: none
    outline: none
    background: none
