.user-profile
  display: flex
  align-items: flex-start
  &__sidebar
    overflow: hidden
    flex: 0 0 200px
    background: #000
    border-radius: 5px
    margin-right: 1rem
  &__menu
    &-item
      cursor: pointer
      padding: 0.7rem 1.5rem
      &:hover
        background: rgba(255, 255, 255, 0.1)

.user-info
  &__input-group
    display: flex
    >:first-child
      margin-right: 2rem
  &__submit-btn
    margin-top: 1rem

