.notifications
  &__container
    position: absolute
    cursor: default
    margin-top: 10px
    top: 100%
    width: 100vw
    max-width: 400px
    right: 10px
    box-shadow: var(--shadow-small)
    border-radius: var(--border-radius-medium)
    z-index: 100
    &::after
      content: ''
      position: absolute
      width: 0
      height: 0
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-bottom: 10px solid var(--bg-alt)
      top: -10px
      right: 10px
    .empty
      margin: 1rem 0
  &__wrapper
    overflow: hidden
    border-radius: var(--border-radius-large)
    background: var(--bg-alt3)
    box-shadow: var(--shadow-small)
    .empty
      margin: 2rem 0
  &__mobile
    display: flex
    justify-content: space-evenly
    padding: var(--space-sm) 0
    .notifications
      &__container
        position: fixed
        top: 180px
        left: 0
        right: 0
        bottom: 0
        max-width: 100%
        &::after
          display: none
      &__list
        max-height: calc(100vh - 222px)
      &__item
        font-size: 14px
        padding: 0.5rem 1.5rem 0.5rem 0.5rem
      &__icon
        html:not(.dark-theme) &
          color: var(--nav-bg-color)
