.comments
  margin-bottom: var(--space-lg)
  &__header
    margin-bottom: var(--space-md)
  &__list
    margin: 1rem 0
  &__empty
    border-radius: var(--border-radius-large)
    background: var(--bg-alt3)
    box-shadow: var(--shadow-small)
    padding: 2rem 1rem 
