.react-datepicker-wrapper
  display: block !important

.user-info
  &__textarea
    display: block
    border: none
    padding: 0.5rem
    width: 100%
    border-radius: 5px
    resize: none
    color: var(--main-text-color)
  &__input-group
    display: flex
    margin-bottom: 1rem
    >:nth-child(2)
      margin-left: 1rem
  &__submit-btn
    margin-bottom: 2rem
