.badge
  position: absolute
  background: var(--bg-primary)
  border-radius: var(--border-radius-medium)
  color: #FFF
  top: -16px
  left: 60%
  display: flex
  justify-content: center
  font-weight: 600
  align-items: center
  font-size: 14px
  height: 20px
  min-width: 22px
  padding: var(--space-xs)
  @media (min-width: 900px)
    top: -5px
    min-width: 20px
    height: 20px
