.author
  display: flex
  align-items: center
  margin-bottom: 1rem
  &__username-link
    cursor: pointer
    line-height: 1.4
    font-weight: 600
    font-size: 20px
    color: #716bcc
    margin: 0 1rem
