@import '../../sass/_mixins'
  
.inbox
  .container
    @include full-screen-min-height
    border-radius: var(--border-radius-medium)
    display: flex
    align-items: flex-start
    .empty__container
      padding: 2rem 0
      border-radius: var(--border-radius-medium)
      background: var(--bg-alt3)
      box-shadow: var(--shadow-small)
  &-content
    &__container
      flex: 1
