.inbox
  height: calc(100vh - 100px)
  .container
    border-radius: 5px
    display: flex
    flex-wrap: wrap
    align-items: flex-start
  &__header
    border-radius: 5px
    margin: 0 1rem 1rem 0
    height: 50px
    display: flex
    background: #FFF
    border-bottom: 1px solid #dadada
    align-items: center
    width: 25%
    .avatar__container
      height: auto
    .avatar__figure
      margin: 0 0.3rem
  &__searchbar
    height: 50px
    flex: 1
    min-width: 500px
    padding: 0.5rem
    background: #FFF
    border-radius: 5px
  &__sidebar
    overflow: hidden
    border-radius: 5px
    margin-right: 1rem
    width: 25%
    background: #FFF
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
  &-content
    &__container
      flex: 1
      min-width: 500px
