.post
  position: relative
  margin-bottom: 4rem
  padding: var(--space-md)
  background: var(--bg-alt3)
  border-radius: var(--border-radius-medium)
  box-shadow: var(--shadow-small)
  &__header
    .author-details
      margin-bottom: var(--space-sm)
      .avatar__container
        width: 60px
      .blogggly-link
        margin-right: var(--space-md)
      .date
        font-size: 14px
  .follow-btn
    margin-right: var(--space-md)
  &__title
    margin-bottom: var(--space-md)
    padding-left: 60px
  &__tags
    padding-left: 60px
    margin-bottom: var(--space-md)
  &__date
  &__body
    display: block
    padding-left: 60px
    margin-bottom: var(--space-md)
    word-wrap: break-word
  &__actions
    display: flex
    justify-content: space-between
  .likes__container
    margin-left: 3.8rem
    .heart
      cursor: pointer
      margin-right: var(--space-sm)

