.post
  margin-bottom: 4rem
  padding: 2rem
  background: #FFF
  border-radius: 8px
  color: #545454
  &__title
    margin-bottom: 1rem
    padding-left: 4rem
  &__date
    font-size: 14px
  &__body
    display: block
    padding: 0 4.2rem
    margin-bottom: 1rem

.likes__container
  margin-left: 4rem

.heart, .like-count
  padding: .3rem
  cursor: pointer

.heart
  margin-right: 0.5rem
  font-size: 24px
  color: #ef1717

.like-count
  color: #716bcc
