.report
  &__modal
    padding: 1rem
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 500
    display: flex
    background: rgba(0, 0, 0, 0.7)
  &__form
    padding: 2rem
    margin: auto
    background: #FFF
    border-radius: 5px
    display: flex
    flex-direction: column
    align-items: flex-start
  &-form
    &__textarea
      width: 100%
      margin: 1.5rem 0
      padding: 1rem
      border-radius: 5px
    &__btn-group
      margin-left: auto
      .btn
        margin-left: 1.5rem

