@import '../../sass/_mixins'

.users
  @include full-screen-min-height
  &__list
    padding: 2rem 0
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1rem
  &__not-found
    background: #FFF
    margin: 2rem 0
    padding: 2rem 0
    border-radius: var(--border-radius-medium)
    text-align: center
