.user-card
  height: 100%
  position: relative
  padding: 1rem
  background: var(--bg-alt3)
  border-radius: 8px
  color: var(--main-text-color)
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
  display: flex
  flex-direction: column
  align-items: center
  .actions-dropdown__container
    top: 0.75rem
    right: 0.25rem
  &__header
    .avatar__container
      height: auto
  &__link
    text-align: center
    text-decoration: none
    color: var(--main-link-color)
    margin: 0.3rem 0
  &__name
    display: block
    font-weight: 600
  &__country
    display: inline-block
  &__info
    text-align: center
  &__bio
    font-size: 0.8rem
    line-height: 1rem
    margin: 1rem 0
    height: 100%
  &__follows
    flex: 1
    display: flex
    flex-direction: column
    align-items: center
    &-container
      display: flex
      width: 100%
      margin-top: auto
      font-weight: 600
  &__member-since
    font-size: 0.75rem
    font-style: italic

.dark-theme
  .user-card
    border: 1px solid var(--border-color)
