.search-bar
  position: relative
  &__input
    font-size: 1.2rem
    padding: 1rem 0.5rem
    border: none
    border-radius: 5px
    width: 50%
    transition: width 350ms ease-in
    &:focus
      width: 100%
    &::placeholder
      font-size: 1rem
      transform: translateY(-1px)
