.action
  padding: 0.3rem
  cursor: pointer
  border-radius: 50%
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2)
  margin: 0 0.3rem
  transition: transform 100ms
  &:hover
    transform: scale(1.1)
  &__icon
    font-size: 20px
    display: block
  &s-panel
    width: 100%
    display: flex
    padding: 0.5rem 1rem
    .follow-btn
      margin-left: auto
      box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3)
      transition: transform 100ms, box-shadow 100ms
      &:hover
        transform: scale(1.07)
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5)
