@import '../../sass/_mixins'

.navbar
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 300
  height: var(--navbar-height)
  background: var(--nav-bg-color)
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)

.hamburger
  cursor: pointer
  width: 40px
  @media (max-width: 786px)
    width: 35px
  &__container.nav__section
    height: 100%
    display: none
    @media (max-width: 786px)
      display: flex
        
.nav
  display: flex
  align-items: center
  height: 100%
  &__section
    display: flex
    align-items: center
    display: flex
    &:last-of-type
      justify-content: flex-end
    @media (max-width: 786px)
      &:not(:nth-of-type(3n))
        flex: 0
  &__search-bar
    position: relative
    flex: 3
    margin: 0 var(--space-sm)
    .input
      height: 35px
    @media (min-width: 786px)
      .input
        border-radius: var(--border-radius-medium)
        height: 40px

.login-btn
  height: 35px !important
  padding: 0 0.8rem !important
  margin-left: var(--space-sm)
