.navbar
  height: 60px
  background: #FFF
  position: fixed
  top: 0
  right: 0
  left: 0
  border-bottom: 1px solid #e4e4e4

.nav
  display: flex
  height: 100%
  &-menu
    height: 100%
    display: flex
    align-items: center
    &__item
      height: 100%
      display: flex
      align-items: center
    &__link
      text-decoration: none
      margin-right: 1rem
      line-height: 60px
