.upload
  width: 120px
  height: 120px
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  &__avatar
    position: relative
    display: inline-block
    cursor: pointer
    border-radius: 5px
    &:hover
  &__btn
    color: var(--main-link-color)
    position: absolute
    bottom: 10px
    right: 0
    transition: color 150ms
  &__image-container
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    z-index: 500
    display: flex
    align-items: center
    justify-content: center
    background: rgba(0, 0, 0, 0.7)

